body {
	
    background-image: url("src/ALPHA.webp");
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	min-height: 90vh;
	color: white;
	font-family: Arial;
	text-align: center;
	
}
