body {
	
    background-image: url("https://cdn.discordapp.com/splashes/1172812733100609547/c17b7b8426c78e41f5df7d62310a55be.jpg?size=2048");
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	min-height: 90vh;
	color: white;
	font-family: Arial;
	text-align: center;
	
}

#navbar {
	display : flex;
	justify-content : right;
	overflow: hidden;
	color : white;
	font-family : Arial, sans-serif;
	gap : 10%;	
}

#navbar a {
	text-decoration : none;
	color : white;
	padding : 14px 20px;
}

.card {
      background: #020617;
      padding: 20px;
      border-radius: 12px;
      width: 320px;
      text-align: center;
}
.btn {
      background: #5865F2;
      color: white;
      padding: 10px;
      border-radius: 6px;
      text-decoration: none;
      display: inline-block;
      margin-top: 10px;
   }
